[submodule "rxfetch-script"]
	path = rxfetch-script
	url = https://github.com/isodiff/rxfetch-script.git
[submodule "dwm"]
	path = dwm
	url = https://github.com/isodiff/dwm.git
[submodule "dwm-bar"]
	path = dwm-bar
	url = https://github.com/isodiff/dwm-bar.git
